[project]
	description = Optimus G (ls970) Omni tree
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/chad cormier roussel (chadouming)
[access "refs/for/refs/*"]
	read = group user/chad cormier roussel (chadouming)
	push = group user/chad cormier roussel (chadouming)
	label-Code-Review = -2..+2 group user/chad cormier roussel (chadouming)
	label-Verified = -1..+1 group user/chad cormier roussel (chadouming)
	rebase = group user/chad cormier roussel (chadouming)
	removeReviewer = group user/chad cormier roussel (chadouming)
	submit = group user/chad cormier roussel (chadouming)
[access "refs/heads/*"]
	read = group user/chad cormier roussel (chadouming)
	create = group user/chad cormier roussel (chadouming)
	push = +force group user/chad cormier roussel (chadouming)
	pushMerge = group user/chad cormier roussel (chadouming)
[access "refs/tags/*"]
	push = +force group user/chad cormier roussel (chadouming)
	pushTag = group user/chad cormier roussel (chadouming)
	pushSignedTag = group user/chad cormier roussel (chadouming)
